[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Philip
	email = github@philipm.at
[pretty]
	changes = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[alias]
    b = branch
    br = branch -vv
    bd = branch --delete
    bdr = push origin --delete
    ca = commit -a -m
    chirp = cherry-pick
    co = checkout
    cob = checkout -b
    cof = checkout -f
    conf = diff --name-only --diff-filter=U
    ctags = !.git/hooks/ctags
    conflicts = diff --name-only --diff-filter=U
    d = pull
    delete-gone = "!bash -c \"git branch -vv | grep ': gone]'|  grep -v '\\*' | awk '{ print \\$1; }' | xargs -r git branch -d\""
    list-gone = !git branch -vv | grep ': gone]'
    list-merged = !git branch --merged origin/master | grep -vw master
    fap   = fetch --all --prune
    fetch-master = fetch origin master:master
    fetch-develop = fetch origin develop:develop
    last = log -1 HEAD
    lf    = log --color --graph --pretty=changes --abbrev-commit -p
    lg    = log --color --graph --pretty=changes --abbrev-commit
    ln    = log --color --graph --pretty=changes --abbrev-commit --name-only
    lo    = !git log --oneline --decorate
    ignore-start = update-index --assume-unchanged
    ignore-stop = update-index --no-assume-unchanged
    lf = log --color --full-diff -p
    lg = log --color --graph --decorate --pretty=fuller --abbrev-commit
    ln = log --color --graph --decorate --pretty=fuller --abbrev-commit --name-only
    lo = log --oneline --decorate
    log-file = log --color --full-diff -p
    merge-master = !git fetch origin master:master && git merge master
    merge-main = !git fetch origin main:main && git merge main
    merge-develop = !git fetch origin develop:develop && git merge develop
    merge-integration = !git fetch origin integration:integration && git merge integration
    p = pull --no-edit
    s = status -s 
    safe-merge = merge --no-commit
    safe-pull = !git stash && git pull && git stash pop
    stat = status -s
    submodule-update = submodule update --recursive --remote
    test-merge = merge --no-commit --no-ff
    up = push
[push]
	default = simple
    autoSetupRemote = true
[init]
    defaultBranch = main
	# templatedir = ~/.git_template
[pack]
    windowMemory = 128m
    threads = 1
    window = 1
    depth = 1
    deltaCacheSize = 1
    packSizeLimit = 128m

[mergetool]
	keepBackup = false

[include]
	path = .gitconfig-extra
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[core]
	excludesfile = /Users/philip/.gitignore_global
	autocrlf = input
[commit]
	template = /Users/philip/.stCommitMsg
[pager]
	branch = false
[includeIf "gitdir:~/Projects/Domuso/"]
    path = ~/Projects/Domuso/.gitconfig_include
