[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Philip Mateescu
	email = github@philipmat.net
[pretty]
	changes = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[alias]
	ctags = !.git/hooks/ctags
	stat  = status -s
	s     = status -s
	ca    = commit -a -m
	co    = checkout
	cof   = checkout -f
	fap   = fetch --all --prune
	lo    = !git log --oneline --decorate
	lg    = log --color --graph --pretty=changes --abbrev-commit
	lf    = log --color --graph --pretty=changes --abbrev-commit -p
	ln    = log --color --graph --pretty=changes --abbrev-commit --name-only

[push]
	default = simple
[init]
	templatedir = ~/.git_template

[include]
	path = .gitconfig-extra